body{
    background-color: #e2eff1;
}

*{
    margin: 0px;
    padding: 0px;
}

@mixin circles($bg-color, $radius-size){
    background-color: $bg-color;
    border-radius:100%;
    height: $radius-size;
    width: $radius-size;
    margin: 10px;
    &:hover{
        background-color: #444;
    }
}

@mixin rows($bg-color){
    background-color: $bg-color;
    height: 39px;
    width: 100%;
    &:hover{
        background-color: #444;
    }
}

@mixin media-queries(){
    @media screen and (min-width: 801px) {
        .img-1{
            display: flex;
            justify-content: center;
        }
        .img-2{
            display: none;
        }
        .img-3{
            display: none;
        }
    }
    @media screen and (min-width: 481px) and (max-width: 800px) {
        .img-1{
            display: none;
        }
        .img-3{
            display: none;
        }
    }
    @media screen and (max-width: 480px) {
        .img-1{
            display: none;
        }
        .img-2{
            display: none;
        }
    }
}

header{    
    display: flex;
    justify-content: center;
    background-color: #8ccff7;
    @include media-queries()
}

footer{
    background-color: #8ccff7;
    height: 50px
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e2eff1;
    @include media-queries()
}

.circle-1{
    @include circles(#4e89ae, 70px);
    @include media-queries()
}
.circle-2{
    @include circles(#43658b, 80px);
    @include media-queries()
}
.circle-3{
    @include circles(#ed6663, 90px);
    @include media-queries()
}
.circle-4{
    @include circles(#ffa372, 100px);
    @include media-queries()
}

.row-1{
    @include rows(#4e89ae)
}
.row-2{
    @include rows(#43658b)
}
.row-3{
    @include rows(#ed6663)    
}
.row-4{
    @include rows(#ffa372)
}

@media screen and (min-width: 801px){

}
@media screen and (min-width: 481px)and (max-width: 800px){
    div{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 480px){
    div{
        display: flex;
        flex-direction: column;
    }
}